alias mutt="LC_ALL=en_US.UTF-8 neomutt"
alias vim=nvim
alias kernlog='clear && journalctl -k -f'
alias synclog='clear && journalctl --user -u mbsync.service -f'
alias tasksync='clear && task sync && task'
alias netviel='python3 -m netviel'
alias git-slog='git log --pretty=format:"%h%x09%an%x09%ad%x09%s"'
alias keeper="echo !! >> ~/keeper.txt"
alias fix-fn-keys='echo 0 | sudo tee /sys/module/hid_apple/parameters/fnmode'
alias sortversion="sort -t '.' -n -k 1,1 -k 2,2 -k 3,3"
